@model Veidibokin.Models.GroupViewModel

@{
    ViewBag.Title = "Hópasíða";
}


<div class="margin-top">
    @Html.Partial("_logo")
</div>
<hr />

<div>
    @Html.ActionLink("Ganga í hóp", "RequestGroupAccess", "Group", new { groupId = @Model.groupId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Meðlimabeiðnir", "ShowMemberRequests", "Group", new { groupId = @Model.groupId }, new { @class = "btn btn-primary" })
</div>

<div class="row">
    <div class="col-md-4">
        <div class="statusContainer margin-top-status">
            @using (Html.BeginForm("GroupPostStatus", "Group", new { groupId = @Model.groupId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextAreaFor(m => m.myFeed.statusText, new { @Value = "", @class = "textBoxStatus", @name = "GroupStatus", @placeholder = "Setja innlegg í hóp?" })
                </div>

            <div>
                <label for="photo"></label>
                @Html.TextBoxFor(m => m.statusPicture, new { type = "file", value = "Mynd" })
            <br />
            </div>

                <div>
                    <input type="submit" class="btn btn-success" id="submit" value="Birta" />
                </div>
            }
            <div class="well pull-left margin-top Links">
                @Html.Label("Hópmeðlimir")
                @foreach (var data in Model.myFullNameList)
                {
                    <ul id="list-no-style">
                        <li>
                            <b>@Html.ActionLink(@data.fullName, "ProfilePage", "Profile", new { Id = @data.userId }, new { @class = "Links" })</b>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

        <div class="col-md-8 margin-bot">
            <h5>@Html.DisplayFor(model => @model.groupName[0])</h5>
            <h6>@Html.DisplayFor(model => @model.description[0])</h6>

            @foreach (var data in Model.myFeedList)
            {
                <ul class="well" id="list-no-style">
                    <li>
                        <div>
                            <b>@data.fullName</b>
                            <span class="float-right">
                                @data.dateInserted
                            </span>

                            <div>
                                @data.statusText
                            </div>
                        </div>
                        <br />
                        <div class="float-right">
                            <img src="/Content/Images/worm.png" alt="Missing worm" height="20" width="16" />
                            <img src="/Content/Images/worm1.png" alt="Missing worm1" height="20" width="18" />
                            <img src="/Content/Images/worm2.png" alt="Missing worm2" height="20" width="20" />
                        </div>
                        <br />
                    </li>
                </ul>
            }
        </div>

    </div>