@model Veidibokin.Models.GroupViewModel

@{
    ViewBag.Title = "Meðlimabeiðnir";
}

<div class="margin-top">
    @Html.Partial("_logo")
</div>

@foreach (var data in Model.myFullNameList)
{
    <div>
        <p>
            @data.fullName
            @Html.ActionLink("Samþykkja", "AcceptRequest", "Group", new { groupId = @Model.groupId, userId = @data.userId }, new { @class = "btn btn-info primary"})
            @Html.ActionLink("Hafna", "DenyRequest", "Group", new { @class = "btn btn-info primary" })
        </p>
    </div>
}

