@model Veidibokin.Models.GroupViewModel

@{
    ViewBag.Title = "ShowMemberRequests";
}

<h2>Meðlimabeiðnir</h2>

@foreach (var data in Model.myFullNameList)
{
    <div>
        <p>
            @data.fullName
            @Html.ActionLink("Samþykja", "AcceptRequest", "Group", new { @class = "btn btn-info primary", groupId = @Model.groupId, userId = @data.userId }, null)
            @Html.ActionLink("Hafna", "DenyRequest", "Group", new { @class = "btn btn-info primary" }, null)
        </p>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
