@model Veidibokin.Models.UserStatusViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- Hér er "Fish Feed" síðan sem birtist þegar notandinn er innskráður. -->
<div class="margin-top">
    <a href="http://localhost:52592/">
        <img src="~/Content/Images/logo.png" alt="Missing logo" height="50" width="50" />
    </a>
</div>
<div class="margin-bot">
        <span class="pull-right">
            @Html.ActionLink("Búa til hóp", "CreateGroup", "Group", null, new { @class = "btn btn-success primary" })
            @Html.ActionLink("Leita", "SearchResult", "Search" ,null, new { @class = "btn btn-info primary" })
            @Html.ActionLink("Skrá fisk", "PostCatch", "Catch" ,null, new { @class = "btn btn-danger primary" })
        </span>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
      
        <div class="statusContainer margin-top-status" id="statusform">
            @using (Html.BeginForm("PostStatus", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextAreaFor(m => m.myFeed.statusText, new { @Value = "", @class = "textBoxStatus", @id = "UserStatus", @name = "UserStatus", @placeholder = "Hvað liggur þér á hjarta?" })
                </div>
                    
                <label for="photo"></label>
                @Html.TextBoxFor(m => m.myPic, new { type = "file", @class = "" })
                
                <input type="submit" class="btn btn-primary margin-top" id="submit" value="Birta" />
            }
            <br />
            <div class="following">

                <h3>@Html.Label("Þeir sem þú fylgir:")</h3>

                <div class="well">
                    @foreach (var data in Model.myFollowList)
                    {
                        <ul id="list-no-style">
                            <li>
                                <b>@Html.ActionLink(@data.fullName, "ProfilePage", "Profile", new { Id = @data.userId, name = @data.fullName }, new { @class = "Links" })</b>

                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>

    </div>

    @Html.Partial("_WaitMessage")

    <div class="col-md-8" id="statuses">
        <h3>@Html.Label("Fishfeed")</h3>

        @foreach (var data in Model.myFeedList)
        {
            <ul class="well" id="list-no-style">
                <li>
                    <div>

                        <b>@Html.ActionLink(@data.fullName, "ProfilePage", "Profile", new { Id = @data.statusUserId }, null)</b>

                        <span class="float-right">
                            @data.dateInserted
                        </span>
                        <div class="statusBlock">
                            <div class="statusHead">

                            </div>
                            <div class="statusText">
                                <p>@data.statusText</p>
                                @if (data.statusPhoto != null)
                                {
                                    <div class="imageContainer">
                                        <img src="@Url.Content("~/Content/Images/" + data.statusPhoto)" alt="Image" />
                                    </div>
                                }
                                @if (data.catchId != null)
                                {
                                    foreach (var temp in Model.myCatchFeedList)
                                    {
                                        if (data.catchId == temp.catchID)
                                        {
                                            <p>Tegund: @temp.fish</p>
                                            <p>Beita: @temp.bait</p>
                                            <p>Veiðisvæði: @temp.zone</p>
                                            <p>Lengd: @temp.length cm </p>
                                            <p>Þyngd: @temp.weight pund</p>
                                        }
                                    }
                                }
                            </div>
                            <br />
                            <div class="float-left margin-to">
                                <img src="/Content/Images/worm.png" alt="Missing worm" height="20" width="16" />
                                <img src="/Content/Images/worm1.png" alt="Missing worm1" height="20" width="18" />
                                <img src="/Content/Images/worm2.png" alt="Missing worm2" height="20" width="20" />
                            </div>
                            
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
</div>
