@model Veidibokin.Models.UserStatusViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- Hér ætlum við að vera með "Fish Feed" síðuna, sem birtist þegar notandinn er innskráður. -->
<br />
<div>
    <span>
        <span>
            <img src="/Content/Images/logo.png" alt="Missing logo" height="100" width="100" />
        </span>
    </span>
    <span class="pull-right">
        @Html.ActionLink("Skrá fisk", "PostCatch", null, new { @class = "btn btn-warning primary" })
        @Html.ActionLink("Búa til hóp", "SearchResult", null, new { @class = "btn btn-success primary" })
        @Html.ActionLink("Leita", "SearchResult", null, new { @class = "btn btn-info primary" })
    </span>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- *********** Í RAZOR hér f neðan er using og bæði html með at fyrir framan og class id name o.s.frv...
        Kann ekki að kommenta merkið at út !! þarf að nota IEnumarble a TextBox til a senda input úr formi
        þar niður sem IEnumerable týpu
        *************************** -->
        <div class="statusContainer" id="statusform">
            @using (Html.BeginForm("PostStatus", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="well">
                    @Html.TextBoxFor(m => m.myFeed.statusText, new { @Value = "", @class = "Status", @id = "UserStatus", @name = "UserStatus", @placeholder = "Hvað liggur þér á hjarta?" })
                </div>
                <br />
                <label for="photo"></label>
                @Html.TextBoxFor(m => m.myPic, new { type = "file", @class = "btn btn-default" })
                <br />
                <input type="submit" class="btn btn-primary" id="submit" value="Birta" />
            }
            <br />
            <div class="following">

                <h3>@Html.Label("Þeir sem þú fylgir:")</h3>

                <div class="well">
                    @foreach (var data in Model.myFollowList)
                    {
                        <ul id="list-no-style">
                            <li>
                                <b>@Html.ActionLink(@data.fullName, "ProfilePage", "Profile", new { Id = @data.userId }, null)</b>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>

    </div>

    @Html.Partial("_WaitMessage")

    <div class="col-md-8" id="statuses">
        <h3>@Html.Label("Nýjustu færslurnar þínar og þeirra sem þú fylgir:")</h3>
        @foreach (var data in Model.myFeedList)
        {
            <ul class="well" id="list-no-style">
                <li>
                    <div>

                        <b>@Html.ActionLink(@data.fullName, "ProfilePage", "Home", new { Id = @data.statusUserId }, null)</b>

                        <span class="float-right">
                            @data.dateInserted
                        </span>
                        <div class="statusBlock">
                            <div class="statusHead">

                            </div>
                            <div class="statusText">
                                <p>@data.statusText</p>
                            </div>
                            @if (data.statusPhoto != null)
                            {
                                <div class="imageContainer">
                                    <img src="@Url.Content("~/Content/Images/" + data.statusPhoto)" alt="Image" />
                                </div>
                            }
                        </div>
                        <br />
                        <div class="float-left">
                            <img src="/Content/Images/worm.png" alt="Missing worm" height="20" width="16" />
                            <img src="/Content/Images/worm1.png" alt="Missing worm1" height="20" width="18" />
                            <img src="/Content/Images/worm2.png" alt="Missing worm2" height="20" width="20" />
                        </div>
                        <br />
                    </div>
                </li>
            </ul>
        }
    </div>
</div>
