@model Veidibokin.Models.SearchResultViewModel

@{
    ViewBag.Title = "SearchResult";
}
<br />
<span>
    <span> 
            <img src="/Content/Images/logo.png" alt="Missing logo" height="100" width="100" />
    </span>
</span>
<span class="pull-right">
    <span>
        @Html.ActionLink("Til baka", "Index", "Home", null, new { @class = "btn btn-info primary" })
    </span>
</span>
<hr />
<div id="searchform">
    @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post))
    {
        <p>
            @Html.TextBox("searchString")
            <input id="searchString-button" type="submit" value="Leita" />
        </p>
    }
</div>
@Html.Partial("_WaitMessage")

<div id="results">
    <table>
        @foreach (var data in Model.mySearchResultList)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.searchResultText)*@
                    @if (@data.type == 0)
                    {
                        <b>@Html.ActionLink(@data.searchResultText, "ProfilePage", "Profile", new { Id = @data.searchResultId }, new{ @class = "Links"}) </b>
                    }
                    else if (@data.type == 2)
                    {
                        <b>@Html.ActionLink(@data.searchResultText, "GroupPage", "Group", new { Id = @data.searchResultId }, new{ @class = "Links"})</b>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => data.searchResultText)
                    }
                </td>
            </tr>
        }
    </table>

</div>