@model Veidibokin.Models.SearchResultViewModel

@{
    ViewBag.Title = "Leit";
}

<div class="margin-top">
    @Html.Partial("_logo")
</div>

<hr />
<div id="searchform">
    @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post))
    {
        <p>
            @Html.TextBox("searchString", null ,new { @class="searchBox" , @placeholder = "Hvað viltu finna?" })
            <input id="searchString-button" type="submit" value="Leita" />
        </p>
    }
</div>
@Html.Partial("_WaitMessage")

<div id="results">
    <table>
        @foreach (var data in Model.mySearchResultList)
        {
            <tr>
                <td>
                    @if (@data.type == 0)
                    {
                        <b>@Html.ActionLink(@data.searchResultText, "ProfilePage", "Profile", new { Id = @data.searchResultId }, new{ @class = "Links"}) </b>
                    }
                    else if (@data.type == 2)
                    {
                        <b>@Html.ActionLink(@data.searchResultText, "GroupPage", "Group", new { Id = @data.searchResultId }, new{ @class = "Links"})</b>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => data.searchResultText)
                    }
                </td>
            </tr>
        }
    </table>

</div>