@model Veidibokin.Models.ProfileViewModel

@{
    ViewBag.Title = "Heimasvæði";
}

<div class="margin-top">
    @Html.Partial("_logo")
</div>

<hr />

@*@if(User Er ekki að followa)*@

<div>

    @Html.ActionLink("Fylgja notanda", "Follow", "Profile", new { id = @Model.userNameId }, new { @class = "btn btn-primary"})

</div>

<div class="row">
    <div class="col-md-4">
        <div class="statusContainer">
           
            <h3>@Html.Label("Fylgjendur:")</h3>
            <div class="well">
                @foreach (var data in Model.myFullNameList)
                {
                    <ul id="list-no-style">
                        <li>
                            <b>@Html.ActionLink(@data.fullName, "ProfilePage", "Profile", new { Id = @data.userId, name = @data.fullName }, new { @class = "Links" })</b>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="col-md-8">

        <h3>@Html.DisplayFor(model => @model.fullName[0])</h3>
        

        @foreach (var data in Model.myFeedList)
        {
            <ul class="well" id="list-no-style">
                <li>
                    <div>
                        <b>@data.fullName</b>
                        <span class="float-right">
                            @data.dateInserted
                        </span>

                        <div class="statusText">
                            <p>@data.statusText</p>
                            @if (data.statusPhoto != null)
                            {
                                <span class="imageContainer">
                                    <img src="@Url.Content("~/Content/Images/" + data.statusPhoto)" alt="Image" />
                                </span>
                            }
                            <div>
                                
                                @if (data.catchId != null)
                                {
                                    foreach (var temp in Model.myCatchFeedList)
                                    {
                                        if (data.catchId == temp.catchID)
                                        {
                                            <p>Tegund: @temp.fish</p>
                                            <p>Beita: @temp.bait</p>
                                            <p>Veiðisvæði: @temp.zone</p>
                                            <p>Lengd: @temp.length cm </p>
                                            <p>Þyngd: @temp.weight pund</p>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="float-left">
                        <img src="/Content/Images/worm.png" alt="Missing worm" height="20" width="16" />
                        <img src="/Content/Images/worm1.png" alt="Missing worm1" height="20" width="18" />
                        <img src="/Content/Images/worm2.png" alt="Missing worm2" height="20" width="20" />
                    </div>  
                </li>
            </ul>
        }
    </div>
</div>