@model Veidibokin.Models.UserStatusViewModel

@{
    ViewBag.Title = "Skrá fisk";
}
<div class="margin-top">
    @Html.Partial("_logo")
</div>

<hr />
<h3>Skrá fisk</h3>
<div class="form">
    @using (Html.BeginForm("PostCatch", "Catch", new { id = Model.myCatch, @class = "form" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <div>
                @Html.TextAreaFor(f => f.myFeed.statusText, new { @Value = "", @class = "form-group c", @id = "Status", @name = "UserStatus", @placeholder = "Hvernig gekk veiðin?" })
            </div>
            <div>
                <label for="photo"></label>
                @Html.TextBoxFor(f => f.myPic, new { type = "file" })
            </div>
            <div class="margin-top">
                @Html.DropDownListFor(f => f.myCatch.fishTypeId, Veidibokin.Controllers.CatchController.GetFishTypeDropDown(), "Fisktegund")
                @Html.DropDownListFor(f => f.myCatch.baitTypeID, Veidibokin.Controllers.CatchController.GetBaitTypeDropDown(), "Beita")
                @Html.DropDownListFor(f => f.myCatch.zoneID, Veidibokin.Controllers.CatchController.GetZoneDropDown(), "Staður")
            </div>
            <div>
                @Html.TextBoxFor(f => f.myCatch.length, new { @Value = "", @class = "form-group margin-top", @id = "Catch", @name = "Catch", @placeholder = "Cm" })
                @Html.TextBoxFor(f => f.myCatch.weight, new { @Value = "", @class = "", @id = "Catch", @name = "Catch", @placeholder = "Pund" })
                <div>
                    <input type="submit" class="btn btn-success" id="submit" value="Skrá fisk" />
                </div>
            </div>
        </div>
    }

</div>

