@model Veidibokin.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<br />
<span>
    <span>
        <img src="/Content/Images/logo.png" alt="Missing logo" height="100" width="100" />
    </span>
</span>
<span class="pull-right">
    <span>
        @Html.ActionLink("Til baka", "Login", null, new { @class = "btn btn-info primary" })
    </span>
</span>
<hr />
<h2>Nýskráning á Veidibokin.is</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
            @Html.AntiForgeryToken()
            <h4>Sláðu inn upplýsingarnar til að stofna nýjan aðgang</h4>
            @Html.ValidationSummary("", new { @class = "text-orange" })
    <div class="form-group">
        @Html.LabelFor(m => m.fullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <span class="help-block" id="orange">
                    Lykilorðið verður að vera amk 6 stafir, 
                <br />
                    innihalda hástaf og lágstaf ásamt tölustaf og tákni
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.gender,true, new {id = "male"})
            @Html.Label("male", "Karl")
            @Html.RadioButtonFor(m => m.gender, false, new { id = "female" })
            @Html.Label("male", "Kona")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postalCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postalCode, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <!-- Ég breytti class="btn btn-default" í "btn btn-success", MH -->
            <input type="submit" class="btn btn-success" value="Stofna notanda" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
