@model Veidibokin.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Nýskráning á Veidibokin.is</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Sláðu inn upplýsingarnar til að stofna nýjan aðgang</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.fullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <span class="help-block">Lykilorðið verður að vera amk 6 stafir, <br />innihalda lágstaf eða hástaf ásamt tölustaf og tákni</span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.gender,true, new {id = "male"})
            @Html.Label("male", "Karl")
            @Html.RadioButtonFor(m => m.gender, false, new { id = "female" })
            @Html.Label("male", "Kona")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postalCode, new { @class = "col-xs-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postalCode, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Stofna notanda" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
